{
   "bootstrap_accounts":[
      [
         "edpkuBknW28nW72KG6RoHtYW7p12T6GKc7nAbwYX5m8Wd9sDVC9yav",
         "4000000000000"
      ],
      [
         "edpktzNbDAUjUk697W7gYg2CRuBQjyPxbEg8dLccYYwKSKvkPvjtV9",
         "4000000000000"
      ],
      [
         "edpkuTXkJDGcFd5nh6VvMz8phXxU3Bi7h6hqgywNFi1vZTfQNnS1RV",
         "4000000000000"
      ],
      [
         "edpkuFrRoDSEbJYgxRtLx2ps82UdaYc1WwfS9sE11yhauZt5DgCHbU",
         "4000000000000"
      ],
      [
         "edpkv8EUUH68jmo3f7Um5PezmfGrRF24gnfLpH3sVNwJnV5bVCxL2n",
         "4000000000000"
      ]
   ],
   "preserved_cycles": {{ preserved_cycles | default('2')}},
   "blocks_per_cycle": {{ blocks_per_cycle | default('16')}},
   "blocks_per_commitment": {{ blocks_per_commitment | default('8')}},
   "blocks_per_roll_snapshot": {{ blocks_per_roll_snapshot | default('4')}},
   "blocks_per_voting_period": {{ blocks_per_voting_period | default('4')}},
   "endorsers_per_block": {{ endorsers_per_block | default('32')}},
   "hard_gas_limit_per_operation": "{{ hard_gas_limit_per_operation   | default('800000')}}",
   "hard_gas_limit_per_block": "{{ hard_gas_limit_per_block   | default('8000000')}}",
   "proof_of_work_threshold": "{{ proof_of_work_threshold   | default('-1')}}",
   "tokens_per_roll": "{{ tokens_per_roll   | default('8000000000')}}",
   "michelson_maximum_type_size": {{ michelson_maximum_type_size | default('1000')}},
   "seed_nonce_revelation_tip": "{{ seed_nonce_revelation_tip   | default('125000')}}",
   "origination_size": {{ origination_size | default('257')}},
   "block_security_deposit": "{{ block_security_deposit   | default('512000000')}}",
   "endorsement_security_deposit": "{{ endorsement_security_deposit   | default('64000000')}}",
   "cost_per_byte": "{{ cost_per_byte   | default('1000')}}",
   "hard_storage_limit_per_operation": "{{ hard_storage_limit_per_operation   | default('60000')}}",
   "test_chain_duration": "{{ test_chain_duration   | default('1966080')}}",
   "quorum_min": {{ quorum_min | default('2000')}},
   "quorum_max": {{ quorum_max | default('7000')}},
   "min_proposal_quorum": {{ min_proposal_quorum | default('500')}},
   "initial_endorsers": {{ initial_endorsers | default('1')}},
   "delay_per_missing_endorsement": "{{ delay_per_missing_endorsement   | default('1')}}",
   "baking_reward_per_endorsement":[
      "{{ block_reward   | default('16000000')}}"
   ],
   "time_between_blocks":[
      "{{ time_between_blocks   | default('1')}}",
      "3"
   ],
   "endorsement_reward":[
      "2000000"
   ]
}